<app-navigation-bar></app-navigation-bar>
<div style="display: flex; flex-wrap: wrap; width: 100%; overflow: auto">
  <mat-card style="flex: 1 1 auto; margin: 1rem">
    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
      <mat-card-subtitle>Username: {{ users.username }}</mat-card-subtitle>
      <mat-card-subtitle>Email: {{ users.email }}</mat-card-subtitle>
      <mat-card-subtitle>Birthday: {{ users.Birthday }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="openUserProfileEdit()" color="basic">
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
